<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5 mx-auto">
            <h1>contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 mx-auto">
            {{#if errors}}
            {{#each errors }}
            <div class="alert alert-danger" role="alert">
                {{this.msg}}
            </div>
            {{/each}}

            {{/if}}

            <form action="/contact" method="post" enctype="application/x-www-form-urlencoded">
                <input name="csrftoken" type="hidden" value="{{csrf}}">
                <label for="Email" class="form-label mt-3">Adresse Email</label>
                <input name="email" type="email" class="form-control" id="Email" placeholder="name@example.com">

                <label for="content" class="form-label mt-3">Votre message</label>
                <textarea name="content" class="form-control" id="content" rows="3"></textarea>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                    <button class="btn btn-outline-primary me-md-2" type="submit">Envoyer</button>
                </div>
            </form>

        </div>
    </div>