<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <h1>Bienvenue sur notre blog</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2>{{lastArticle.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">{{lastArticle.content}}</p>
                    <a href="/liste-articles" class="btn btn-primary">Voir la liste des articles</a>
                </div>
                <div class="card-footer">
                    <p class="card-text">Article écrit par : {{lastArticle.author}}</p>
                </div>
            </div>
        </div>
    </div>
</div>